In [1]:
import pandas as pd
import tushare as ts
import numpy as np

In [2]:
pledge = pd.read_csv('../data/pledge/pledge_pos.csv', 
                     parse_dates=['start_date', 'close_date'])

In [3]:
pledge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23787 entries, 0 to 23786
Data columns (total 6 columns):
ts_code                23787 non-null object
start_date             23787 non-null datetime64[ns]
pledge_price           23787 non-null float64
forcast_close_line     23787 non-null float64
is_reach_close_line    23787 non-null bool
close_date             23787 non-null datetime64[ns]
dtypes: bool(1), datetime64[ns](2), float64(2), object(1)
memory usage: 952.5+ KB

In [4]:
pledge.head()

,ts_code,start_date,pledge_price,forcast_close_line,is_reach_close_line,close_date
0,000002.SZ,2017-12-01,28.2164,19.75148,True,2018-08-03
1,000002.SZ,2018-01-30,33.5544,23.48808,True,2018-05-30
2,000002.SZ,2017-12-01,28.2164,19.75148,True,2018-08-03
3,000002.SZ,2017-12-01,28.2164,19.75148,True,2018-08-03
4,000002.SZ,2017-12-01,28.2164,19.75148,True,2018-08-03

In [5]:
code_list = set(pledge['ts_code'])

In [6]:
len(code_list)

2092

In [13]:
fund_dict = {
    code: pd.read_csv('../data/fund_clean/{}.csv'.format(code), 
                      parse_dates=['end_date', 'ann_date']) 
    for code in code_list
}

In [8]:
for i in reversed(range(len(fund_dict['000002.SZ']))):
    print(i)

13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [12]:
fund_dict['002926.SZ']

,ts_code,ann_date,end_date,current_ratio,quick_ratio,cash_ratio,inv_turn,ar_turn,ca_turn,netprofit_margin,...,or_yoy,q_gr_yoy,q_gr_qoq,q_sales_yoy,q_sales_qoq,q_op_yoy,q_op_qoq,q_profit_yoy,q_profit_qoq,revenue
0,002926.SZ,20190820.0,2019-08-20,1.51050,1.51050,0.0,0.0,0.0,0.0,42.6879,...,47.31130,41.0533,-7.8545,41.0533,-7.8545,42.9239,-25.8860,53.7543,-19.0855,2.004723e+09
1,002926.SZ,20190820.0,2019-06-30,1.51050,1.51050,0.0,0.0,0.0,0.0,42.6879,...,47.31130,41.0533,-7.8545,41.0533,-7.8545,42.9239,-25.8860,53.7543,-19.0855,1.043336e+09
2,002926.SZ,20190426.0,2019-03-31,1.89390,1.89390,0.0,0.0,0.0,0.0,45.3379,...,53.59020,53.5902,97.6153,53.5902,97.6153,71.8554,782.3859,64.6222,987.9185,2.545233e+09
3,002926.SZ,20190426.0,2018-12-31,2.27730,2.27730,0.0,0.0,0.0,0.0,33.2035,...,-4.73090,-18.8397,-19.5436,-18.8397,-19.5436,-68.3228,-79.3605,-74.8627,-83.6142,2.017270e+09
4,002926.SZ,20181026.0,2018-09-30,1.95295,1.95295,0.0,0.0,0.0,0.0,39.7382,...,-0.18990,-1.7355,-3.6792,-1.7355,-3.6792,-1.2216,5.9849,-2.7293,6.5949,1.360876e+09
5,002926.SZ,20180823.0,2018-06-30,1.62860,1.62860,0.0,0.0,0.0,0.0,39.4066,...,0.58370,4.1615,0.2467,4.1615,0.2467,14.6741,-11.0371,10.5713,-13.3662,6.795995e+08
6,002926.SZ,20180424.0,2018-03-31,1.56560,1.56560,0.0,0.0,0.0,0.0,42.2809,...,-2.76460,-2.7646,4.7675,-2.7646,4.7675,-17.7055,64.1079,-17.6880,66.1218,2.669781e+09
7,002926.SZ,20180411.0,2017-12-31,1.50260,1.50260,0.0,0.0,0.0,0.0,38.2049,...,-1.49910,-2.7646,-2.8642,-2.7646,-2.8642,-17.7055,-36.1620,-17.6880,-36.5939,2.020849e+09
8,002926.SZ,20181026.0,2017-09-30,1.50260,1.50260,0.0,0.0,0.0,0.0,41.9086,...,-14.85035,-2.7646,2.0940,-2.7646,2.0940,-17.7055,23.0202,-17.6880,21.1705,2.021107e+09
9,002926.SZ,20180116.0,2017-06-30,1.50260,1.50260,0.0,0.0,0.0,0.0,42.4398,...,-28.20160,-2.7646,-6.4124,-2.7646,-6.4124,-17.7055,-36.1464,-17.6880,-35.5076,1.353026e+09
10,002926.SZ,20180424.0,2017-03-31,1.50260,1.50260,0.0,0.0,0.0,0.0,49.9465,...,-41.55285,-2.7646,-6.4124,-2.7646,-6.4124,-17.7055,-36.1464,-17.6880,-35.5076,6.989216e+08
11,002926.SZ,20180116.0,2016-12-31,1.50260,1.50260,0.0,0.0,0.0,0.0,60.7913,...,-54.90410,-2.7646,-6.4124,-2.7646,-6.4124,-17.7055,-36.1464,-17.6880,-35.5076,6.989216e+08

In [10]:
def merge_fund(x):
    fund_df = fund_dict[x.ts_code]
    if x.is_reach_close_line:
        pledge_date = x.close_date
    else:
        pledge_date = x.start_date
    for i in reversed(range(len(fund_df))):
        fund_ser = fund_df.loc[i]
        fund_date = fund_ser['ann_date']
        if fund_date >= pledge_date:
            return fund_ser

In [14]:
fund_df = pledge.apply(merge_fund, axis=1)

In [15]:
fund_df.head()

,ts_code,ann_date,end_date,current_ratio,quick_ratio,cash_ratio,inv_turn,ar_turn,ca_turn,netprofit_margin,...,or_yoy,q_gr_yoy,q_gr_qoq,q_sales_yoy,q_sales_qoq,q_op_yoy,q_op_qoq,q_profit_yoy,q_profit_qoq,revenue
0,000002.SZ,2018-08-21,2018-06-30,1.1805,0.522,0.4031,0.1124,66.0165,0.098,12.7602,...,51.8032,46.7143,143.7873,46.7143,143.7873,37.6351,460.677,31.2987,559.9162,2.976793e+11
1,000002.SZ,2018-08-21,2018-06-30,1.1805,0.522,0.4031,0.1124,66.0165,0.098,12.7602,...,51.8032,46.7143,143.7873,46.7143,143.7873,37.6351,460.677,31.2987,559.9162,2.976793e+11
2,000002.SZ,2018-08-21,2018-06-30,1.1805,0.522,0.4031,0.1124,66.0165,0.098,12.7602,...,51.8032,46.7143,143.7873,46.7143,143.7873,37.6351,460.677,31.2987,559.9162,2.976793e+11
3,000002.SZ,2018-08-21,2018-06-30,1.1805,0.522,0.4031,0.1124,66.0165,0.098,12.7602,...,51.8032,46.7143,143.7873,46.7143,143.7873,37.6351,460.677,31.2987,559.9162,2.976793e+11
4,000002.SZ,2018-08-21,2018-06-30,1.1805,0.522,0.4031,0.1124,66.0165,0.098,12.7602,...,51.8032,46.7143,143.7873,46.7143,143.7873,37.6351,460.677,31.2987,559.9162,2.976793e+11

In [16]:
fund_df = fund_df.drop(['ts_code'], axis=1)

In [17]:
pledge = pd.concat([pledge, fund_df], axis=1)

In [18]:
pledge = pledge.drop(['ann_date', 'end_date'], axis=1)

In [19]:
pledge.head(20)

,ts_code,start_date,pledge_price,forcast_close_line,is_reach_close_line,close_date,current_ratio,quick_ratio,cash_ratio,inv_turn,...,or_yoy,q_gr_yoy,q_gr_qoq,q_sales_yoy,q_sales_qoq,q_op_yoy,q_op_qoq,q_profit_yoy,q_profit_qoq,revenue
0,000002.SZ,2017-12-01,28.2164,19.75148,True,2018-08-03,1.1805,0.5220,0.4031,0.1124,...,51.8032,46.7143,143.7873,46.7143,143.7873,37.6351,460.6770,31.2987,559.9162,2.976793e+11
1,000002.SZ,2018-01-30,33.5544,23.48808,True,2018-05-30,1.1805,0.5220,0.4031,0.1124,...,51.8032,46.7143,143.7873,46.7143,143.7873,37.6351,460.6770,31.2987,559.9162,2.976793e+11
2,000002.SZ,2017-12-01,28.2164,19.75148,True,2018-08-03,1.1805,0.5220,0.4031,0.1124,...,51.8032,46.7143,143.7873,46.7143,143.7873,37.6351,460.6770,31.2987,559.9162,2.976793e+11
3,000002.SZ,2017-12-01,28.2164,19.75148,True,2018-08-03,1.1805,0.5220,0.4031,0.1124,...,51.8032,46.7143,143.7873,46.7143,143.7873,37.6351,460.6770,31.2987,559.9162,2.976793e+11
4,000002.SZ,2017-12-01,28.2164,19.75148,True,2018-08-03,1.1805,0.5220,0.4031,0.1124,...,51.8032,46.7143,143.7873,46.7143,143.7873,37.6351,460.6770,31.2987,559.9162,2.976793e+11
5,000002.SZ,2017-12-01,28.2164,19.75148,True,2018-08-03,1.1805,0.5220,0.4031,0.1124,...,51.8032,46.7143,143.7873,46.7143,143.7873,37.6351,460.6770,31.2987,559.9162,2.976793e+11
6,000002.SZ,2018-03-27,28.4107,19.88749,True,2018-08-02,1.1805,0.5220,0.4031,0.1124,...,51.8032,46.7143,143.7873,46.7143,143.7873,37.6351,460.6770,31.2987,559.9162,2.976793e+11
7,000002.SZ,2018-03-16,30.0666,21.04662,True,2018-07-18,1.1805,0.5220,0.4031,0.1124,...,51.8032,46.7143,143.7873,46.7143,143.7873,37.6351,460.6770,31.2987,559.9162,2.976793e+11
8,000002.SZ,2018-03-07,30.3442,21.24094,True,2018-07-02,1.1805,0.5220,0.4031,0.1124,...,51.8032,46.7143,143.7873,46.7143,143.7873,37.6351,460.6770,31.2987,559.9162,2.976793e+11
9,000002.SZ,2018-02-09,27.9388,19.55716,True,2018-08-03,1.1805,0.5220,0.4031,0.1124,...,51.8032,46.7143,143.7873,46.7143,143.7873,37.6351,460.6770,31.2987,559.9162,2.976793e+11
10,000002.SZ,2018-01-30,33.5544,23.48808,True,2018-05-30,1.1805,0.5220,0.4031,0.1124,...,51.8032,46.7143,143.7873,46.7143,143.7873,37.6351,460.6770,31.2987,559.9162,2.976793e+11
11,000004.SZ,2017-12-18,22.5100,15.75700,True,2018-09-17,1.5424,1.3839,1.2939,2.5108,...,260.8262,143.7963,28.9001,143.7963,28.9001,-162.9629,-203.4125,-255.0424,-388.3309,1.069528e+08
12,000005.SZ,2017-09-15,5.1800,3.62600,True,2018-04-16,0.8606,0.5579,0.5303,0.8307,...,10.1811,64.9545,95.8765,64.9545,95.8765,414.0440,1138.9852,236.4657,753.6531,2.737899e+08
13,000005.SZ,2017-02-21,6.5800,4.60600,True,2017-11-03,0.8606,0.5579,0.5303,0.8307,...,10.1811,64.9545,95.8765,64.9545,95.8765,414.0440,1138.9852,236.4657,753.6531,2.737899e+08
14,000007.SZ,2019-01-02,7.9900,5.59300,True,2019-01-29,2.9746,2.9721,1.4379,115.8800,...,7.0624,82.3465,3.1742,82.3465,3.1742,-438.3960,-1524.1632,-9567.3552,-7938.5298,9.239141e+06
15,000007.SZ,2018-09-28,7.8300,5.48100,True,2019-01-29,2.9746,2.9721,1.4379,115.8800,...,7.0624,82.3465,3.1742,82.3465,3.1742,-438.3960,-1524.1632,-9567.3552,-7938.5298,9.239141e+06
16,000007.SZ,2016-12-07,17.0815,11.95705,True,2018-09-21,3.3391,3.3367,3.3349,85.6132,...,-5.2802,-19.9874,-15.6040,-19.9874,-15.6040,125.0500,157.9401,122.2912,171.4685,4.244384e+07
17,000008.SZ,2017-03-20,8.3320,5.83240,True,2018-05-02,1.9626,1.6045,1.3988,0.4370,...,28.4217,42.3543,149.2525,42.3543,149.2525,2.8045,295.6421,1.7962,422.7903,1.289517e+09
18,000008.SZ,2018-04-16,5.9344,4.15408,True,2018-08-08,1.9626,1.6045,1.3988,0.4370,...,28.4217,42.3543,149.2525,42.3543,149.2525,2.8045,295.6421,1.7962,422.7903,1.289517e+09
19,000008.SZ,2018-03-08,7.3563,5.14941,True,2018-06-05,1.9626,1.6045,1.3988,0.4370,...,28.4217,42.3543,149.2525,42.3543,149.2525,2.8045,295.6421,1.7962,422.7903,1.289517e+09

In [20]:
pledge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23787 entries, 0 to 23786
Data columns (total 30 columns):
ts_code                23787 non-null object
start_date             23787 non-null datetime64[ns]
pledge_price           23787 non-null float64
forcast_close_line     23787 non-null float64
is_reach_close_line    23787 non-null bool
close_date             23787 non-null datetime64[ns]
current_ratio          23778 non-null float64
quick_ratio            23778 non-null float64
cash_ratio             23778 non-null float64
inv_turn               23778 non-null float64
ar_turn                23778 non-null float64
ca_turn                23778 non-null float64
netprofit_margin       23778 non-null float64
grossprofit_margin     23778 non-null float64
roe                    23778 non-null float64
debt_to_assets         23778 non-null float64
op_yoy                 23778 non-null float64
ebt_yoy                23778 non-null float64
assets_yoy             23778 non-null float64
tr_yoy                 23778 non-null float64
or_yoy                 23778 non-null float64
q_gr_yoy               23778 non-null float64
q_gr_qoq               23778 non-null float64
q_sales_yoy            23778 non-null float64
q_sales_qoq            23778 non-null float64
q_op_yoy               23778 non-null float64
q_op_qoq               23778 non-null float64
q_profit_yoy           23778 non-null float64
q_profit_qoq           23778 non-null float64
revenue                23778 non-null float64
dtypes: bool(1), datetime64[ns](2), float64(26), object(1)
memory usage: 5.3+ MB

In [42]:
# pledge_release_date = pledge['release_date']
# pledge = pledge.drop(['release_date'], axis=1)

In [21]:
pledge = pledge.drop_duplicates()
pledge = pledge.dropna()

In [22]:
pledge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15891 entries, 0 to 23786
Data columns (total 30 columns):
ts_code                15891 non-null object
start_date             15891 non-null datetime64[ns]
pledge_price           15891 non-null float64
forcast_close_line     15891 non-null float64
is_reach_close_line    15891 non-null bool
close_date             15891 non-null datetime64[ns]
current_ratio          15891 non-null float64
quick_ratio            15891 non-null float64
cash_ratio             15891 non-null float64
inv_turn               15891 non-null float64
ar_turn                15891 non-null float64
ca_turn                15891 non-null float64
netprofit_margin       15891 non-null float64
grossprofit_margin     15891 non-null float64
roe                    15891 non-null float64
debt_to_assets         15891 non-null float64
op_yoy                 15891 non-null float64
ebt_yoy                15891 non-null float64
assets_yoy             15891 non-null float64
tr_yoy                 15891 non-null float64
or_yoy                 15891 non-null float64
q_gr_yoy               15891 non-null float64
q_gr_qoq               15891 non-null float64
q_sales_yoy            15891 non-null float64
q_sales_qoq            15891 non-null float64
q_op_yoy               15891 non-null float64
q_op_qoq               15891 non-null float64
q_profit_yoy           15891 non-null float64
q_profit_qoq           15891 non-null float64
revenue                15891 non-null float64
dtypes: bool(1), datetime64[ns](2), float64(26), object(1)
memory usage: 3.7+ MB

In [45]:
# pledge['release_date'] = pledge_release_date

In [23]:
pledge.head()

,ts_code,start_date,pledge_price,forcast_close_line,is_reach_close_line,close_date,current_ratio,quick_ratio,cash_ratio,inv_turn,...,or_yoy,q_gr_yoy,q_gr_qoq,q_sales_yoy,q_sales_qoq,q_op_yoy,q_op_qoq,q_profit_yoy,q_profit_qoq,revenue
0,000002.SZ,2017-12-01,28.2164,19.75148,True,2018-08-03,1.1805,0.522,0.4031,0.1124,...,51.8032,46.7143,143.7873,46.7143,143.7873,37.6351,460.677,31.2987,559.9162,2.976793e+11
1,000002.SZ,2018-01-30,33.5544,23.48808,True,2018-05-30,1.1805,0.522,0.4031,0.1124,...,51.8032,46.7143,143.7873,46.7143,143.7873,37.6351,460.677,31.2987,559.9162,2.976793e+11
6,000002.SZ,2018-03-27,28.4107,19.88749,True,2018-08-02,1.1805,0.522,0.4031,0.1124,...,51.8032,46.7143,143.7873,46.7143,143.7873,37.6351,460.677,31.2987,559.9162,2.976793e+11
7,000002.SZ,2018-03-16,30.0666,21.04662,True,2018-07-18,1.1805,0.522,0.4031,0.1124,...,51.8032,46.7143,143.7873,46.7143,143.7873,37.6351,460.677,31.2987,559.9162,2.976793e+11
8,000002.SZ,2018-03-07,30.3442,21.24094,True,2018-07-02,1.1805,0.522,0.4031,0.1124,...,51.8032,46.7143,143.7873,46.7143,143.7873,37.6351,460.677,31.2987,559.9162,2.976793e+11

In [24]:
pledge.to_csv('../data/pledge/pledge_company_pos.csv', index=False)