In [1]:
import tushare as ts

In [2]:
ts.set_token('53cd3b985c649c978160c6ec04bce24f4fbd2ebcb4673e8f2fba9a43')

In [14]:
pro = ts.pro_api()

sz1 = pro.daily(ts_code='000001.SZ', start_date='20150817', end_date='20190817')

c:\users\greenwood\anaconda3\envs\tf_gpu_keras\lib\site-packages\tushare\util\upass.py:28: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  return str(df.ix[0]['token'])

In [15]:
sz1.head()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20190816,15.09,15.14,14.78,14.90,14.94,-0.04,-0.2677,986902.93,1474900.257
1,000001.SZ,20190815,14.64,14.96,14.60,14.94,14.97,-0.03,-0.2004,897376.26,1333117.725
2,000001.SZ,20190814,15.14,15.22,14.80,14.97,14.89,0.08,0.5373,1360546.54,2038261.151
3,000001.SZ,20190813,15.00,15.08,14.74,14.89,15.12,-0.23,-1.5212,1293736.44,1925835.288
4,000001.SZ,20190812,14.61,15.12,14.60,15.12,14.52,0.60,4.1322,2733425.47,4084497.902