In [1]:
import tushare as ts
import pandas as pd

In [2]:
ts.set_token('53cd3b985c649c978160c6ec04bce24f4fbd2ebcb4673e8f2fba9a43')

pro = ts.pro_api()

C:\Users\GreenWood\Anaconda3\envs\tf_gpu_keras\lib\site-packages\tushare\util\upass.py:28: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  return str(df.ix[0]['token'])

In [3]:
data = pro.stock_basic(exchange='', list_status='L', fields='ts_code,symbol,name,area,industry,list_date')

In [4]:
data.head()

     ts_code  symbol  name area industry list_date
0  000001.SZ  000001  平安银行   深圳       银行  19910403
1  000002.SZ  000002   万科A   深圳     全国地产  19910129
2  000004.SZ  000004  国农科技   深圳     生物制药  19910114
3  000005.SZ  000005  世纪星源   深圳     环境保护  19901210
4  000006.SZ  000006  深振业A   深圳     区域地产  19920427

In [5]:
code_list = data['ts_code'].values

In [6]:
code_list[:10]

array(['000001.SZ', '000002.SZ', '000004.SZ', '000005.SZ', '000006.SZ',
       '000007.SZ', '000008.SZ', '000009.SZ', '000010.SZ', '000011.SZ'],
      dtype=object)

In [11]:
start_date = '20160817'
end_date = '20190817'
for code in code_list:
    price = ts.pro_bar(ts_code=code, asset="E", adj="qfq", start_date=start_date, end_date=end_date)
    price = price.drop(['ts_code'], axis=1)
    price['trade_date'] = pd.to_datetime(price['trade_date'])
    price = price.set_index('trade_date')
    price = price[::-1]
    price.to_csv('./data/stock_price/{}.csv'.format(code))

HTTPConnectionPool(host='api.waditu.com', port=80): Max retries exceeded with url: / (Caused by ConnectTimeoutError(<urllib3.connection.HTTPConnection object at 0x000001EFCA81E080>, 'Connection to api.waditu.com timed out. (connect timeout=15)'))
HTTPConnectionPool(host='api.waditu.com', port=80): Max retries exceeded with url: / (Caused by ConnectTimeoutError(<urllib3.connection.HTTPConnection object at 0x000001EFCA07D668>, 'Connection to api.waditu.com timed out. (connect timeout=15)'))
HTTPConnectionPool(host='api.waditu.com', port=80): Max retries exceeded with url: / (Caused by ConnectTimeoutError(<urllib3.connection.HTTPConnection object at 0x000001EFCA0A34E0>, 'Connection to api.waditu.com timed out. (connect timeout=15)'))

In [9]:
start_date = '20160817'
end_date = '20190817'
for code in code_list[:1]:
    df = pro.top10_holders(ts_code=code, start_date=start_date, end_date=end_date)
df.head()

NameError: name 'code_list' is not defined

In [8]:
data[data['symbol'] == '000509']

       ts_code  symbol  name area industry list_date
106  000509.SZ  000509  华塑控股   四川     其他建材  19930507